:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --one-color: #ffffff;
    --main-text-color: #212121;
    --main-text-color2: #757575;
    --background-button-color: #f5f4fa;
    --color-icons: #AFB1B8;
}